* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main_box {
    background-image: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}
.btn_one i {
    color: white;
    line-height: 60px;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    left: 16px; 
    /* When the left or right position is set at that time 
    we want to set the position property. If the position property is no set that doesn't work. */
    cursor: pointer;
    transition: all 0.3s linear;

}
.sidebar_menu .btn_two i {
    color: rgb(190, 179, 190);
    position: absolute;
    left: 275px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;

}
.sidebar_menu {
    height: 100vh;
    width: 300px;
    position: fixed;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgb(255, 255, 255, 0.8);
    left: -300px;
    transition: all 0.3s linear;
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.7);
    height: 50px;
}
.sidebar_menu .logo a {
    position: absolute;
    color: white;
    left: 70px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
.sidebar_menu .menu {
    position: absolute;
    color: white;
    top: 60px;
    width: 100%;
}
.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.sidebar_menu .menu i {
    padding-right: 8px;
}
.sidebar_menu .social_media {
    position: absolute;
    left: 25%;
    bottom: 30px;
}
.sidebar_menu .social_media i {
    margin: 0px 4px;
    color: grey;
    opacity: 0.5;

}
#check {
    display: none;
}
.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(106, 81, 81, 0.5);

}

.main_box .btn_one i:hover {
    font-size: 40px;
}
.sidebar_menu .btn_two i:hover {
    font-size: 30px;
}
.sidebar_menu .social_media i:hover {
    opacity: 2;
    transform: scale(2);
}
#check:checked ~ .sidebar_menu {
    left: 0px;
}
#check:checked ~ .btn_one i {
    /* display: none;  Or use the opacity to the zero */
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}